<header>
  <nav>
      <h1>Hello Prune!</h1>
      <img src="assets/happy.gif" alt="animated icon of a happy face" class="icon"/>
      <!-- <a href="https://www.flaticon.com/free-animated-icons/emoticon" title="emoticon animated icons">Emoticon animated icons created by Freepik - Flaticon</a> -->

      <h2>Lists</h2>
      <ul type="none">
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>To-Do</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Projects</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Gym planner</span></li>
      </ul> 

      <h2>Planner</h2>
      <ul type="none">
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Mensuel</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Hebdomadaire</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Journalier</span></li>
      </ul> 

      <h2>Budget</h2>
      <ul type="none">
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Budget</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Epargne</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Dettes</span></li>
      </ul> 

      <h2>Statistics</h2>
      <ul type="none">
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Trackers</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Stats</span></li>
          <li><span class="material-symbols-outlined">subdirectory_arrow_right</span><span>Books stats</span></li>
      </ul> 
      
  </nav>   
</header>

<main>
  <router-outlet></router-outlet>
</main>