<h2 id="list-title">{{ title }}</h2>

<button type="button" id="modify-title" (click)="openTitleForm()">Change title</button>

<form id="change-title-interface" *ngIf="isFormVisible" (ngSubmit)="modifyTitle()">
    <label id="change-title-label" for="change-title">Choose a new title:</label>
    <input id="change-title" type="text" name="title-field" [(ngModel)]="newTitle">
    <button type="submit" id="validate-new-title" (click)="modifyTitle()">Validate</button>
    <button type="button" id="cancel-new-title" (click)="cancelNewTitle()">Cancel</button>
</form>